@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,700;1,400&display=swap');

:root {
    /* Light Mode Colors */
    --primary-color: rgb(4, 0, 217);
    --secondary-color: rgb(127, 219, 255);
    --tertiary-color: rgb(221, 221, 221);

    --unqualified-color: rgb(164, 0, 0);
    --qualified-color: rgb(205, 133, 0);
    --proposal-color: rgb(73, 213, 73);
    --negotiation-color: rgb(0, 158, 0);
    --closed-color: rgb(0, 97, 0);

    --prospect-color: rgb(153, 212, 236);
    --unlikely-color: rgb(143, 143, 255);
    --possible-color: rgb(74, 74, 255);
    --likely-color: rgb(4, 0, 217);
    --won-color: rgb(0, 0, 106);

    /* Dark Mode Colors */
    --dark-primary-color: rgb(0, 31, 63);
    --dark-secondary-color: rgb(0, 91, 150);
    --dark-tertiary-color: rgb(85, 85, 85);
}

/* Default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-title {
    margin: 2rem 0 2rem 6rem;
    color: var(--primary-color)
}

body {
    background-color: var(--tertiary-color);
    font-family: 'Fira Sans', sans-serif;
}

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages {
    width: 32%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.options {
    width: 22%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    padding: 0.5rem 0;
    color: var(--primary-color);
}

.nav-item:hover {
    border-bottom: solid var(--secondary-color) 3px;
}

.log-out {
    border: none;
    background-color: var(--tertiary-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

.log-out:hover {
    cursor: pointer;
}

.active {
    border-bottom: solid var(--primary-color) 3px;
}


/* LOGIN PAGE */

.login-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://www.eastweststudios.com/_images/centerstage_studio-1-control_1@2x.jpg');
    background-size: cover;
    background-color: rgb(68, 68, 68);
    background-blend-mode: multiply;
}

.login-container {
    text-align: center;
    width: 20%;
    border-radius: 5px;
    padding: 2.5rem 1.5rem;
    box-shadow:0 8px 20px rgba(0, 0, 0, 0.6);
    background-color: var(--tertiary-color);
}

.form-subtitle {
    margin: 1.5rem 0;
}

.username-input,
.password-input,
.name-input,
.password-input2 {
    padding: 0.75rem 0.75rem;
    width: 65%;
    border-radius: 5px;
    border: 1px gray solid;
}

.name-input {
    margin: 1rem 0; 
}

.password-input {
    margin: 1rem 0;
}

.login-button {
    padding: 0.75rem 5.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-family: 'Fira Sans', sans-serif;
    border: none;
}

.login-button:hover {
    background-color: var(--unlikely-color);
}

.inquiry-note {
    margin: 1rem 0;
}

.create-account-button {
    padding: 0.5rem 3.2rem;
    border-radius: 5px;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    border: solid var(--primary-color) 2px;
    color: black;
}

.create-account-button:hover {
    color: white;
    background-color: var(--primary-color)
}

.login-button:hover,
.create-account-button:hover {
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* SIGNUP PAGE */




/* DASHBOARD PAGE */

.dashboard-page {
    margin: 0 6rem;
}

.closed-page {
    margin: 2rem 6rem 4rem 6rem;
}

.prospect-settings-page {
    margin: 2rem 6rem;
}

.pipeline-title {
    color: var(--primary-color);
}

.utilities-bar {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem 0;
}

.sort-label {
    margin: 0 0.5rem;
    padding: 0.25 0.75rem;
}

.sort-button {
    padding: 0.25rem 0.75rem;
    margin: 0 0.5rem;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
}

.sort-button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.prospect-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0.5rem 0;
    border-radius: 5px;
}

.prospect-quick-details-headers,
.prospect-quick-details {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/* Laptop Responsiveness */

@media screen and (max-width: 1740px) {
    .prospect-quick-details,
    .prospect-quick-details-headers {
        width: 65%;
    }

    .pages {
        width: 43%;
    }
    
    .options {
        width: 29%;
    }
}

@media screen and (max-width: 1250px) {
    .prospect-quick-details,
    .prospect-quick-details-headers {
        width: 85%;
    }

    .pages {
        width: 49%;
    }
    
    .options {
        width: 33%;
    }
}

@media screen and (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .prospect-quick-details-headers,
    .prospect-quick-details {
        display: none;
    }

    .utilities-bar {
        display: none;
    }

    .prospect-name {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.prospect-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-left: solid var(--primary-color) 4px;
    border-radius: 5px;
    margin: 0.5rem 0;
}

.prospect-item:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}

.prospect-name {
    margin-left: 1rem;
}

.prospect-quick-details {
    padding: 0.5rem 0;
}

.quick-stage,
.quick-probability {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    border-radius: 5px;
    color: var(--tertiary-color);
    background-color: var(--dark-secondary-color);
}

.unqualified {
    background-color: var(--unqualified-color);
}

.qualified {
    background-color: var(--qualified-color);
}

.proposal {
    background-color: var(--proposal-color);
}

.negotiation {
    background-color: var(--negotiation-color);
}

.closed {
    background-color: var(--closed-color);
}

.prospect {
    background-color: var(--prospect-color);
}

.unlikely {
    background-color: var(--unlikely-color);
}

.possible {
    background-color: var(--possible-color);
}

.likely {
    background-color: var(--likely-color);
}

.won {
    background-color: var(--won-color);
}

.item-prospect {
    border-left: solid var(--prospect-color) 4px;
}

.item-unlikely {
    border-left: solid var(--unlikely-color) 4px;
}

.item-possible {
    border-left: solid var(--possible-color) 4px;
}

.item-likely {
    border-left: solid var(--likely-color) 4px;
}

.item-closed {
    border-left: solid var(--closed-color) 4px;
}

/* CALENDAR PAGE */



/* PROSPECTS PAGE */

.prospects-page {
    margin: 2rem 6rem;
}

.prospect-settings {
    background-color: var(--secondary-color);
    padding: 0.5rem 0;
    border-radius: 5px;
}

.prospect-settings-title {
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.search-bar {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-prospect {
    padding: 0.5rem 3rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.25rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 200, 0);
    color: white;
}

.create-prospect:hover {
    background-color: rgb(0, 223, 0);
    cursor: pointer;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: 5px;
}

.search-button {
    margin-left: 1rem;
    padding: 0.35rem 2rem;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 5px;
    font-size: 1.25rem;
    color: white;
    background-color: var(--primary-color);
    border: none;
}

.search-button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 1rem;
}

/* PROSPECT SETTINGS PAGE */

.prospect-settings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.prospect-settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(169, 169, 169, 0.3);
    border-radius: 5px;
    width: 100%;
}

.prospect-settings-headers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0; 
    width: 100%;
    padding: 0 1rem;
}

.prospect-settings-header {
    font-size: 2rem;
}

.update-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.edit-prospect-button {
    padding: 0.3rem 1.1rem;
    border-radius: 5px;
    border: none;
}

.data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.data-value {
    border: gray solid 2px;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

.edit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-value {
    padding: 0.25rem 1.5rem;
    border-radius: 5px;
    border: var(--primary-color) solid 2px;
}

.update-value:hover {
    cursor: pointer;
}

/* SETTINGS PAGE */
